html
    head
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.68/Tone.js")
    body
        canvas(width=500,height=500,style="border: 1px solid black")
        script(src="./index.js")
